/* GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    font-size: 15px;
}

a{
    text-decoration: none;
}

/* UTILITIES */

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.float-left{
    float:left;
} 

.w-50{
   width: 50%;
}

.display{
    display: inline-block;
} 

li{
    list-style: none;
}

h1,
h2{
    font-weight: 700;
}

.box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  1px 1px 1px 1px #cfcccc;
}

.btn{
    height: 40px;
    line-height: 1;
    text-align: center;
    padding:10px;
    color: #fff;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}

.btn-orange{
    background-color:#ff7a59;
}

.btn-big{
    padding: 25px;
}

.fa-check-circle{
    color: #ff7a59;
}
/* HEADER */

/*header 1 */
.header1{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color:#f5f8fa;
}

header a{
    color: #33475b;
}

.top-bar .right a {
    color:#fff
}

.top-bar .right .login a {
    color: #ff7a59;
}
.top-bar,
.bottom-bar{
    line-height:80px;
}

.right{
    text-align: right;
}

.top-bar .english{
    border-right: 1px solid #33475b;
    padding-right: 20px;
}

.top-bar .contact{
    padding-left: 20px;
} 

.login.btn{
    min-width:50px;
    margin-right: 20px;
}

.fa-search{
    color: #0091ae;
    font-size: 14px;
    margin-right: 20px;
}

/* header 2 */

.header2{
    height: 80px;
}

.header2 .bottom-bar li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.bottom-bar nav{
    text-align: right;
}

.bottom-bar nav .fa-angle-down{
    padding-left: 10px;
    font-size: 20px;
}  


/* MAIN */

/* first section */

.hero{
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: 1680px;
    background-position: 100% 63%;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 60px;
}

.hero-text p {
    line-height: 30px;
    padding-bottom: 50px;
}

.hero p:last-child{
    padding-top: 50px;
    font-size: 12px;
}

/* border */

.border{
    height: 80px;
    background-color: #87dacbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* sec section */

.powerful{
    background-color:#84c0ca30;
    height: 400px;
    text-align: center;
}

.powerful h2{
    margin-bottom: 30px;
}

.powerful p {
    width: 55%;
    margin: 0 auto;
    line-height: 30px;
}

.integrations{
    width: 250px;
    margin-top: 50px;
} 

/*third section */

.free-hubspot{
    background-color: #84c0ca30; 
}

.crm{
    height:300px;
}

.learn{
    height: 300px;
    width: 30%;
    text-align: center;
}

.learn img{
    width: 140px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.learn a {
    display: block;
    width: 170px;
    margin: 0 auto;
}


.text-learn{
    width: 70%;
}

.text-learn h3{
    margin-top:50px;
    margin-bottom: 30px;
}

.text-learn p {
    width:80%;
    margin-bottom: 20px;
}

.text-learn h4{
text-transform: uppercase;
}

hr{
    position: relative;
    bottom:9px;
    left:230px;
    width: 60%;
    height: 3px;
    background-color: black;
}

.text-learn li{
    margin-top: 25px;
    list-style: none;
    display: inline-block;
}

.fa-check-circle{
    margin: 0 12px;
}

.first.fa-check-circle{
    margin-left: 0;
}

/* fourth section */
.option{
    height: 700px;
    background-color: #84c0ca30;
}

.columns{
   padding-top: 50px;
   text-align: center;
}
.left-col{
   height:600px;
}

.center-col{
    height: 600px;
    margin: 0 60px;
}

.right-col{
    height: 600px;
}

.w-30{
    width: 30%;
}

.img-col{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.center-col .img-col{
    width: 110px;
    margin-top: 40px;
}

.right-col .img-col{
    margin-bottom: 14px;
}

.columns h4{
    text-transform: uppercase;
}

.paragraph{
    width: 80%;
    margin: 30px auto;
    line-height: 26px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.right-col .paragraph{
    margin-top: 25px;
}

.columns ul{
    margin-top:20px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.columns li{
    text-align: left;
}

.columns .btn{
    padding:20px;
}

/* fifth section */
.gradient{
    height: 700px;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    color:#fff ;
}

.gradient h3,
.gradient p{
    margin: 0 auto;
    text-align: center;
}

.gradient h3{
    width: 80%;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 25px;
}

.gradient p{
    font-size: 14px;
    margin-bottom: 50px;
}

.w-25{
    text-align: center;
    width: 25%;
    height: 200px;
    border: 1px solid #fff;
}

.first-row  .w-25{
    border-top: none;
}

.second-row .w-25{
    border-bottom: none;
}

.first-row .w-25:first-child,
.second-row .w-25:first-child{
    border-left: none;
}

.first-row .w-25:last-child,
.second-row .w-25:last-child{
    border-right: none;
}

.number{
    margin-bottom: 15px ;
    font-size: 38px;
    font-weight: bolder;
}

.plus{
    font-size:30px ;
    font-weight: normal;
}

.w-25 img{
    margin-top:30px;
    margin-bottom: 10px;
}

.of-what{
    font-size: 12px;
}

/* sixth section */

.start-growing{
    height: 700px;
}

.hubspot{
    height: 600px;
    width: 40%;

}
.companies{
    height: 600px;
    width: 60%;
    background-color: lightslategray;
}


.square{
    width:200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 70px;
}

.start-growing .hubspot .number{
    font-size: 38px;
}

.start-growing .hubspot p{
    padding-top: 30px;
    line-height: 25px;
    font-size: 14px;
}

.start-growing .hubspot .one-hundred{
    font-weight: bolder;
}

.today h4{
    font-size: 30px;
}

.today a {
    position: relative;
    top:60px;
}

.free-tools{
    position:relative;
    top: 130px;
    font-size: 12px;
}