/* GENERALE ---------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    font-size: 15px;
    padding-top: 80px ;
}

a{
    text-decoration: none;
}

/* UTILITIES ---------------------------------*/

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.float-left{
    float:left;
} 

.w-50{
   width: 50%;
}

.w-25{
    width: 25%;
}

.w-30{
    width: 30%;

}

.w-20{
    width: 20%;
    height: 500px;
    border-right: 1px solid #eaf0f6;
   
}

.w-80{
    width: 80%;
    height: 500px;
    text-align: left;
    
}

.display{
    display: inline-block;
} 

li{
    list-style: none;
}

h1,
h2{
    font-weight: 700;
}

.box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  1px 1px 1px 1px #cfcccc;
}

.btn{
    height: 40px;
    line-height: 1;
    text-align: center;
    padding:10px;
    color: #fff;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}

.btn-orange{
    background-color:#ff7a59;
}

.btn-big{
    padding: 25px;
}

.fa-check-circle{
    color: #ff7a59;
}

/* HOVER ---------------------------------*/

.dropdown:hover .dropdown-content {
    display: block;
}

.software-dropdown:hover .soft-dropdown-content{
    display: block;
} 

.software-dropdown:hover .soft-dropdown-content{
    display: block;
} 

.resources-container:hover .resources-dropdown{
    display: block;
} 

.marketing:hover,
.free:hover,
.sale:hover,
.service:hover,
.cms:hover {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(45 62 80 / 12%);
}

.footer1 a:hover,
.footer2 a:hover,
.dropdown a:hover,
.resources-dropdown a:hover{
    color:#0091ae;
    text-decoration: underline;
}

footer .btn-white:hover{
    color: #33475b;
    text-decoration: none;
}

.help:hover .fa-comment-alt{
    font-size: 30px;
}

.btn:hover,
.help:hover .help-content{
    text-shadow: 0 0 4px #FFF;
    box-shadow: 0 0 3px #FA3, inset 0 0 4px 1px #FFF;
}

.help:hover .help-content{
    display: block;
} 

/* HEADER ---------------------------------*/

/* TOP HEADER  */
.header1{
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color:#f5f8fa;
    z-index: 1;
}

header a{
    color: #33475b;
}

.top-bar .right a {
    color:#fff
}

.top-bar .right .login a {
    color: #ff7a59;
}
.top-bar,
.bottom-bar{
    line-height:80px;
}

.right{
    text-align: right;
}

.dropdown .fa-angle-down{
    vertical-align: middle;
    padding-left: 5px;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown > a:first-child {
    border-right: 1px solid #33475b; 
    padding-right: 20px; 
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 50px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #cbd6e2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown .dropdown-content a {
    padding:28px;
    text-align: center;
}

.top-bar .contact{
    padding-left: 20px;
} 

.login.btn{
    min-width:50px;
    margin-right: 20px;
}

.fa-search{
    color: #0091ae;
    font-size: 14px;
    margin-right: 20px;
}

/* BOTTOM HEADER */

.header2{
    height: 80px;
}

.header2 .logo img{
    position: relative;
    top:10px;
}

.header2 .bottom-bar li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.bottom-bar nav{
    text-align: right;
}

.bottom-bar nav .fa-angle-down{
    vertical-align: middle;
    padding-left: 10px;
    font-size: 20px;
}  

/* software */

.soft-dropdown-content{
    width:800px;
    height: 500px;
    display:none;  
    position: absolute;
    right:0;
    background-color: #fff;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #cbd6e2;
    box-shadow: 0 2px 4px rgb(45 62 80 / 12%);
   
}

.software-dropdown{
    position: relative;
    display: inline-block;
}

.soft-dropdown-content h3{
     text-align: center;
     position: relative;
     top:38%;
     font-weight: 400;
     font-size: 20px;
}

.w-80 h4{
    font-weight: 400;
    font-size: 18px;
}

.w-80 p,
.w-80 span,
.foot-software{
    font-weight: 300;
    font-size: 12px;
}

.soft-dropdown-content .free{
    height:100px;
    border-bottom: 1px solid #eaf0f6;
}

.free a,
.w-50 span a{
    text-decoration: underline;
    color:#0091ae;
    display: block;
}

.free a,
.foot-software span a{
    display: inline-block;
}

.cont .w-50{
    height: 160px;
     margin-top: 8px; 
}

.marketing,
.sale,
.service,
.cms,
.free {
     padding:10px;  
}

.cont i{
    color:#ff7a59;
    font-size: 14px;
}

.foot-software{
    width:100%;
    height: 60px;
    position: absolute;
    bottom:0;
    background-color: #f5f8fa;
    text-align: center;
    line-height: 60px;
}

.foot-software h5{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    
}

/* resourches */

.resources-container{
    position: relative;
    display: inline-block;
}

.resources-dropdown{
    width:700px;
    height: 400px;
    display:none;
    position: absolute;
    right: 0;
    background-color: #fff;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #cbd6e2;
    box-shadow: 0 2px 4px rgb(45 62 80 / 12%);
    text-align: left;
}

.resources-dropdown i{
    padding: 10px;
    font-size: 20px;
    color:#ff7a59;
}
.resources-dropdown  nav {
    text-align: left;
    padding-left: 20px;
    margin-top: 30px;
}

.resources-dropdown li{
    font-weight: 300;
    margin-right: 35px;
}

/* MAIN ---------------------------------*/

/* first section */

.hero{
    height: 550px;
    background-color: #fef7ef;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 130px) 40%;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 60px;
}

.hero-text p {
    line-height: 30px;
    padding-bottom: 50px;
}

.hero p:last-child{
    padding-top: 50px;
    font-size: 12px;
}

/* border */

.border{
    height: 80px;
    background-color: #87dacbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* sec section */

.powerful{
    background-color:#84c0ca30;
    height: 400px;
    text-align: center;
}

.powerful h2{
    margin-bottom: 30px;
}

.powerful p {
    width: 55%;
    margin: 0 auto;
    line-height: 30px;
}

.integrations{
    width: 250px;
    margin-top: 50px;
} 

/*third section */

.free-hubspot{
    background-color: #84c0ca30; 
}

.crm{
    height:300px;
}

.learn{
    height: 300px;
    width: 30%;
    text-align: center;
}

.learn img{
    width: 140px; 
    margin-top: 50px;
    margin-bottom: 15px;
}

.learn a {
    display: block;
    width: 170px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: auto;
}

.text-learn{
    width: 70%;
}

.text-learn h3{
    margin-top:50px;
    margin-bottom: 30px;
}

.text-learn p {
    width:80%;
    margin-bottom: 20px;
}

.text-learn h4{
text-transform: uppercase;
}

hr{
    position: relative;
    bottom:9px;
    left:230px;
    width: 60%;
    height: 3px;
    background-color: black;
}

.text-learn li{
    margin-top: 25px;
    list-style: none;
    display: inline-block;
}

.fa-check-circle{
    margin: 0 12px;
}

.first.fa-check-circle{
    margin-left: 0;
}

/* fourth section */
.option{
    height: 700px;
    background-color: #84c0ca30;
}

.columns{
   padding-top: 50px;
   text-align: center;
}
.left-col{
   height:600px;
}

.center-col{
    height: 600px;
    margin: 0 60px;
}

.right-col{
    height: 600px;
}

.img-col{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.center-col .img-col{
    width: 110px;
    margin-top: 40px;
}

.right-col .img-col{
    margin-bottom: 14px;
}

.columns h4{
    text-transform: uppercase;
}

.paragraph{
    width: 80%;
    margin: 30px auto;
    line-height: 26px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.right-col .paragraph{
    margin-top: 25px;
}

.columns ul{
    margin-top:20px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.columns li{
    text-align: left;
}

.columns .btn{
    padding:20px;
}

/* fifth section */
.gradient{
    height: 700px;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    color:#fff ;
}

.gradient h3,
.gradient p{
    margin: 0 auto;
    text-align: center;
}

.gradient h3{
    width: 80%;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 25px;
}

.gradient p{
    font-size: 14px;
    margin-bottom: 50px;
}

.gradient-box {
    text-align: center;
    height: 200px;
    border: 1px solid #fff;
}

.first-row  .w-25{
    border-top: none;
}

.second-row .w-25{
    border-bottom: none;
}

.first-row .w-25:first-child,
.second-row .w-25:first-child{
    border-left: none;
}

.first-row .w-25:last-child,
.second-row .w-25:last-child{
    border-right: none;
}

.number{
    margin-bottom: 15px ;
    font-size: 38px;
    font-weight: bolder;
}

.plus{
    font-size:30px ;
    font-weight: normal;
}

.w-25 img{
    margin-top:30px;
    margin-bottom: 10px;
}

.of-what{
    font-size: 12px;
}

/* sixth section */

.start-growing{
    height: 700px;
}

.hubspot{
    height: 600px;
    width: 40%;
}

.companies{
    height: 600px;
    width: 60%;
}

.square{
    width:200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 70px;
}

.start-growing .hubspot .number{
    font-size: 38px;
}

.start-growing .hubspot p{
    padding-top: 30px;
    line-height: 25px;
    font-size: 14px;
}

.start-growing .hubspot .one-hundred{
    font-weight: bolder;
}

.today h4{
    font-size: 30px;
}

.today a {
    position: relative;
    top:60px;
}

.free-tools{
    position:relative;
    top: 130px;
    font-size: 12px;
}

.companies img{
    margin-right: 40px;
    width: 100px;
}

.first-row-images{
    padding-top: 60px;
}

.first-row-images img:first-child,
.second-row-images img:first-child{
    margin-left: 20px;
}

.first-row-images img:nth-child(4),
.first-row-images img:nth-child(3){
    width: 90px;
    position: relative;
    top:10px;
}

.second-row-images{
    margin-left: 15px;
    margin-top: 30px;
}

.second-row-images img:nth-child(2),
.second-row-images img:nth-child(4){
    width: 100px;
    position:relative;
    bottom:14px;
}

.second-row-images img:nth-child(3){
    width: 80px;
    position: relative;
    bottom:8px;
}

.woman img{
    width:320px;
    position: relative;
    left:400px;
    top: 80px;
}

/*FOOTER--------------------------------*/

/* footer 1 */

footer{
    height: 580px;
    font-size: 12px;
}

footer a, 
footer{
    color: #cbd6e2;
}

.footer1{
    position: relative;
    height: 450px;
    background-color: #2d3e50;
    color: #cbd6e2;
    line-height: 30px;
    border-bottom: 1px solid #cbd6e2;
}

.footer1 h6{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.a-color{
    color: #33475b;
}

.btn-white{
    position: relative;
    top:20px;
    background-color: #cbd6e2;
    border: 1px solid #cbd6e2;
}

.social-icons li{
    margin-top: 30px;
    margin-right: 27px;
    display: inline-block;
}

.social-icons a:hover{
    color:#0091ae;
    font-size: 18px;
}

.language{
    position:absolute;
    left:50%;
    bottom:5px;
    transform: translate(-50%,-50%);
}

.language li,
.privacy-policy li{
    display: inline-block;
    margin-right: 10px;
}

/* footer 2*/

.footer2{
    height: 130px;
    background-color:#2d3e50 ;
}

.copyright img{
    width: 80px;
    padding-top: 40px;
    padding-bottom: 2px;
}

.privacy-policy{
    margin-top: 40px;
    text-align: right;
}

/* HELP */
 .help{
     position: fixed;
     right:20px;
     bottom:20px;
     width: 60px;
     height: 60px;
     background-color: #445a70;
     border-radius: 50%;
     text-align: center;
}

.fa-comment-alt{
     font-size: 25px;
     position: relative;
     top:18px;
     color: #fff;
}

.help-content{
    display: none;
    position: absolute;
    right:40px;
    bottom:80px;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 200px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.help-content a{
    display: block;
    color: #33475b;
    padding: 19px ;
    text-align: left;
    line-height: 22px;
    cursor:default;
}

.fa-robot{
    font-size: 22px;
    color: #ff7a59;
    margin-top: 15px;
}